<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <form method="POST" action="/">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
         <input type="text" name="full_name" placeholder="full name" required>
        <input type="text" name="username" placeholder="username" required>
        <button type="submit">Sign Up</button>
    </form>
    <a href="/signin">Already have an account? Sign in here.</a>
</body>
</html>
